<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/priyanka/Desktop/MavenCucumberProject">
        <classes><class name="MyRunner.RunCucumberTest"><methods><include name="feature"/></methods></class></classes></test></suite>